<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/react.min.js"></script>
    <script src="javascripts/react-dom.min.js"></script>
    <script src="javascripts/browser.min.js"></script>
    <script src="javascripts/jquery-3.2.1.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>

  </head>
  <body>
    <!--<h1><%= title %></h1>
    <p>Welcome to <%= title %></p>-->
    <div id="root"></div>
    <script src="javascripts/xuly.js" type="text/babel">    
    </script>
  </body>
</html>
